.waves {
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
  animation: waveStroke 2s linear infinite !important;
}

.waves svg {
  width: 100%;
  max-width: 980px;
}

.wave {
  stroke-width: 3;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  animation: waveStroke 6s ease-in-out infinite;
}

/* optional initial opacities */
.w1 {
  opacity: 0.9;
}
.w2 {
  opacity: 0.6;
  animation-delay: -2s;
}
.w3 {
  opacity: 0.35;
  animation-delay: -4s;
}

@keyframes waveStroke {
  0% {
    stroke: #cfe0ff;
  }
  33% {
    stroke: #b9d2ff;
  }
  66% {
    stroke: #e6f0ff;
  }
  100% {
    stroke: #cfe0ff;
  }
}
